{{!-- {{yield}} --}}
    <div class="product-details">
        {{!-- {{yield}} --}}
        {{!--Header--}}
        <section>
            <h3> Beats Solo Wireless Headphones</h3>
            <div class="text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </section>
        {{!--Price--}}
        <section>
            <del class="originalprice"> $199.95</del>
            <i class="pricedown"> $99.98 </i>
        </section>

    </div>